@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-background: #F9F7F3;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Syne', sans-serif;
}

body {
  background: var(--color-background);
  width: 100%;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #ecf0f1;
  border-radius: 10px;
}

